<configuration>
  <Composite.C1Console.Elements.Plugins.ElementProviderConfiguration rootProviderName="VirtualElementProvider">
    <ElementProviderPlugins>
      <add type="CompositeC1Contrib.Security.Extranet.C1Console.ElementProviders.ExtranetElementProvider, CompositeC1Contrib.Security.Extranet" name="ExtranetElementProvider" />

      <add type="Composite.Plugins.Elements.ElementProviders.VirtualElementProvider.VirtualElementProvider, Composite" name="VirtualElementProvider">
        <Perspectives>
          <add name="ExtranetPerspective" label="Extranet" closeFolderIconName="Composite.Icons.generic-set-security" type="Composite.Plugins.Elements.ElementProviders.VirtualElementProvider.SimpleVirtualElement, Composite">
            <Elements>
              <add providerName="ExtranetElementProvider" name="ExtranetElementProvider" type="Composite.Plugins.Elements.ElementProviders.VirtualElementProvider.AttachProviderVirtualElement, Composite" />
            </Elements>
          </add>
        </Perspectives>
      </add>
    </ElementProviderPlugins>
  </Composite.C1Console.Elements.Plugins.ElementProviderConfiguration>
</configuration>