<configuration>
  <Composite.C1Console.Elements.Plugins.ElementActionProviderConfiguration>
    <ElementActionProviderPlugins>
      <add name="CompositeC1Contrib.Security" type="CompositeC1Contrib.Security.C1Console.ElementPermissionsActionProvider, CompositeC1Contrib.Security" />
    </ElementActionProviderPlugins>
  </Composite.C1Console.Elements.Plugins.ElementActionProviderConfiguration>

  <Composite.C1Console.Forms.Plugins.ProducerMediatorConfiguration>
    <Mediators>
      <add type="Composite.C1Console.Forms.StandardProducerMediators.UiControlProducerMediator, Composite" name="https://bitbucket.org/burningice/compositec1contrib.security/1.0" />
    </Mediators>
  </Composite.C1Console.Forms.Plugins.ProducerMediatorConfiguration>

  <Composite.C1Console.Forms.Plugins.UiControlFactoryConfiguration>
    <Channels>
      <Channel>
        <Namespaces>
          <Namespace name="https://bitbucket.org/burningice/compositec1contrib.security/1.0">
            <Factories>
              <add userControlVirtualPath="~/Composite/InstalledPackages/CompositeC1Contrib.Security/InheritedPermissions.ascx" cacheCompiledUserControlType="false" type="Composite.Plugins.Forms.WebChannel.UiControlFactories.UserControlBasedUiControlFactory, Composite" name="InheritedPermissions" />
            </Factories>
          </Namespace>
        </Namespaces>
      </Channel>
    </Channels>
  </Composite.C1Console.Forms.Plugins.UiControlFactoryConfiguration>

  <Composite.C1Console.Elements.Plugins.ElementProviderConfiguration rootProviderName="VirtualElementProvider">
    <ElementProviderPlugins>
      <add type="CompositeC1Contrib.Security.C1Console.ElementProviders.SecurityElementProvider, CompositeC1Contrib.Security" name="SecurityElementProvider" />

      <add name="VirtualElementProvider">
        <Perspectives>
          <add name="SystemPerspective">
            <Elements>
              <add providerName="SecurityElementProvider" name="SecurityElementProvider" type="Composite.Plugins.Elements.ElementProviders.VirtualElementProvider.AttachProviderVirtualElement, Composite" />
            </Elements>
          </add>
        </Perspectives>
      </add>
    </ElementProviderPlugins>
  </Composite.C1Console.Elements.Plugins.ElementProviderConfiguration>

  <Composite.Core.WebClient.Renderings.Plugins.RenderingResponseHandlerConfiguration>
    <RenderingResponseHandlerPlugins>
      <add name="CompositeC1Contrib.Security" type="CompositeC1Contrib.Security.Web.ResponseHandler, CompositeC1Contrib.Security" />
    </RenderingResponseHandlerPlugins>
  </Composite.Core.WebClient.Renderings.Plugins.RenderingResponseHandlerConfiguration>
</configuration>