<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="compositeC1Contrib">
      <section name="security" type="CompositeC1Contrib.Security.Configuration.SecuritySection, CompositeC1Contrib.Security" />
    </sectionGroup>
  </configSections>

  <compositeC1Contrib>
    <security
      profileResolver="CompositeC1Contrib.Security.Extranet.ProfileResolver, CompositeC1Contrib.Security.Extranet"
      editProfileHandler="CompositeC1Contrib.Security.Extranet.EditProfileHandler, CompositeC1Contrib.Security.Extranet" />
  </compositeC1Contrib>

  <system.web>
    <roleManager>
      <providers>
        <add name="Extranet" type="CompositeC1Contrib.Security.Extranet.Web.ExtranetRoleProvider, CompositeC1Contrib.Security.Extranet" applicationName="Extranet" />
      </providers>
    </roleManager>
  </system.web>
</configuration>