<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="compositeC1Contrib">
      <section name="security" type="CompositeC1Contrib.Security.Configuration.SecuritySection, CompositeC1Contrib.Security" />
    </sectionGroup>
  </configSections>

  <compositeC1Contrib>
    <security />
  </compositeC1Contrib>
  
  <system.web>
    <membership defaultProvider="CompositeC1">
      <providers>
        <add name="CompositeC1" type="CompositeC1Contrib.Security.Web.CompositeC1MembershipProvider, CompositeC1Contrib.Security" applicationName="CompositeC1" />
      </providers>
    </membership>

    <roleManager enabled="true" defaultProvider="CompositeC1">
      <providers>
        <add name="CompositeC1" type="CompositeC1Contrib.Security.Web.CompositeC1RoleProvider, CompositeC1Contrib.Security" applicationName="CompositeC1" />
      </providers>
    </roleManager>
  </system.web>
</configuration>